
   .item-detalles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  .item-detalles img {
    max-width: 200px;
  }
  
  .price {
    font-size: 1.2rem;
    color: green;
  }
  