
   .item {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .item:hover {
    transform: scale(1.05);
  }
  
  .item img {
    max-width: 100px;
  }
  
  .item button {
    background-color: #4caf50;
    color: white;
  }
  